*{
   margin: 0;
   padding: 0;
   font-family: "Gilroy";
   box-sizing: border-box;

    
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(201, 196, 247);
}
#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: azure;
}
#ptop{
    padding: 0px 30%;
    align-items: center;
    justify-content:space-between ;
    display: flex;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color:rgb(105, 105, 153) ;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size:22px ;
}
.box{
    font-weight: 600;
    padding: 10px;
    font-size: 25px;
    color: rgb(11, 11, 70);
    background-color: azure;
    border-radius: 5px;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width:100% ;
    height:calc(100%-100px) ;
    padding: 20px;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(35, 6, 63);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(87, 87, 158);
}